.nav_col{
    background-color: rgb(6, 53, 94);
}
.c:hover,.f:hover,.pe:hover{
    background-color: rgb(101, 66, 228);
}
.h{
    background-color: rgb(13, 13, 44);
    border-bottom: 1px solid white;
    /* padding-top:auto; */
}
.nav-gap{
    margin-right: 30px;
}
.h,.f,.pe,.c{
    margin-right:30px;
}
.carousel-inner{
    max-height: 680px;
    margin-bottom: 20px;
}
.image{
    max-width: 100%;
    max-height: 100%;
}

.cards{
    display:flex;
    justify-content: space-around;
    text-align: center;

}
.card_back{
    background-color: rgb(148, 186, 243);
}

@media screen and (max-width:992px) {
    .navbar-brand{
        margin:0px;
        font-size: 20px;
    }
    .nav-mob{
        text-align: center;
        opacity: 0.5;
    }
    .h,.f,.pe,.c,.nav-gap{
        margin-right:0px;
    }
}